.search-bar {
    padding-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.search-input {
    margin-right: 15px;
}

.result-list_loader {
    text-align: center;
}

.result-list_error {
    text-align: center;
    color: red;
}